@model PXLSchoolManagement.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom!</h1>
    <p>Overzicht</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Aantal Studenten
            </th>
            <th>
                Aantal Inschrijvingen
            </th>
            <th>
                Aantal Handboeken
            </th>
            <th>
                Aantal Vaklectoren
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>@Model.Studenten.Count</p>
            </td>
            <td>
                <p>@Model.Inschrijvingen.Count</p>
            </td>
            <td>
                <p>@Model.Handboeken.Count</p>
            </td>
             <td>
                <p>@Model.Vaklectoren.Count</p>
            </td>
        </tr>
    </tbody>
</table>
