@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    @if (Model.IsTemporarilyAccount)
    {
        <p class="text-danger">Jouw account is not niet goedgekeurd door een admin. Probeer het later opnieuw.</p>
    }
    else
    {
        <p class="text-danger">You do not have access to this resource.</p>
    }
    
</header>
