﻿@model PXLSchoolManagement.Models.Inschrijving

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inschrijving</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VakId" class="control-label"></label>
                <select asp-for="VakId" class ="form-control" asp-items="ViewBag.VakId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AcademiejaarId" class="control-label"></label>
                <select asp-for="AcademiejaarId" class ="form-control" asp-items="ViewBag.AcademiejaarId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
