﻿@model PXLSchoolManagement.Models.Inschrijving

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vak.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Academiejaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Academiejaar.AcademiejaarId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
