@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Inschrijvingen" asp-action="Index">
        <i class="fas fa-chalkboard nav-icon"></i>
        <p>Mijn cursussen</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Handboeken" asp-action="Index">
        <i class="fas fa-book nav-icon"></i>
        <p>Mijn handboeken</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Studenten" asp-action="Index">
        <i class="fas fa-user-tie nav-icon"></i>
        <p>Mijn studenten</p>
    </a>
</li>