
<li class="nav-item">
    <a class="nav-link" asp-area="Lector" asp-controller="Cursussen" asp-action="Index">
        <i class="fas fa-chalkboard nav-icon"></i>
        <p>Mijn cursussen</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Lector" asp-controller="Handboeken" asp-action="Index">
        <i class="fas fa-book nav-icon"></i>
        <p>Mijn handboeken</p>
    </a>
</li>