﻿@model PXLSchoolManagement.Models.ViewModels.VaklectorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Vaklector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.DropDownListFor(model => 
                model.LectorId, 
                Model.Lectoren, 
                "-- Select --");
            <input type="submit" />    
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
